html,
body,
#root {
  height: 100%;
  margin: 0;
  font-size: 17px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #B2BABB;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #95A5A6;
}
